<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="midiapp.midi_challenge">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <provider
            android:authorities="midiapp.midi_challenge.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity   android:name=".activity_MainRestyled"
                    android:label="@string/title_activity__main_restyled">
                    <!--android:theme="@style/AppTheme.NoActionBar"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Dettagli_Brano_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Aggiunta_Brano_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Registratore_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AccordatoreActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Impostazioni_Activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Info_Activity" />
        <activity android:name=".ActivityPaginaUtente" />
        <activity android:name=".MetronomoActivity" />
        <activity android:name=".GenericMIDIChallengeActivity" />

    </application>

</manifest>